<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="master::admin-head"></th:block>
<body>
<div id="wrapper">
    <!-- Menu left -->
    <nav th:replace="master::admin-menuleft"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="row">
            <!-- Navbar top -->
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="javascript:void(0);"><i class="fa fa-navicon"></i></a>
                </div>
            </nav>
            <!--./ end navbar top -->
        </div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <div class="col-xs-12 pl-5">
                                <ol class="breadcrumb">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-home"></i>Trang chủ
                                        </a>
                                    </li>
                                    <li class="active">
                                        <a href="#">
                                            <strong></strong>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default border-square">
                                        <div class="panel-heading border-square">
                                            <div class="row">.
                                                <div class="col-sm-2">
                                                    <h3 class="pt-5"></h3>
                                                </div>
                                                <div class="col-sm-2">
                                                </div>
                                                <div class="col-sm-8">
                                                    <!-- tìm kiếm -->
                                                    <div class="row">
                                                        <form>
                                                            <div style="width: 1000px;">
                                                                <div style="float: left; margin-left: 300px">
                                                                    <input type="text" name="name" id="name" class="form-control" value="" placeholder="Nhập từ khóa...">
                                                                </div>
                                                                <div style="padding: 0; margin: 0;float: left;">
                                                                    <button id="button1"  class="btn btn-warning" type="submit" style="padding: 6px 35px;"><i class="fa fa-search"></i></button>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- tìm kiếm -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- thông báo -->
                                        <div class="alert alert-info" id="time" style='display:none'>
                                            <!-- thông báo -->
                                            <div class="panel-body">
                                            </div>
                                            <div style="float: right;"></div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th style="text-align: center">Số thứ tự</th>
                                                    <th style="text-align: center">Loại rượu</th>
                                                    <th style="text-align: center">Ảnh mô tả</th>
                                                    <th style="text-align: center">Thao tác</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <th:block th:each="trademark,rowStat : ${trademark}">
                                                    <tr>
                                                        <th style="text-align: center;" th:text="${rowStat.index + 1 }"></th>
                                                        <td style="text-align: center" th:text="${trademark.name}"></td>
                                                        <td style="text-align: center"><img th:src="@{'/views/img/'+ ${trademark.image}}"  style="width: 45px; height: 37px"></td>
                                                        <td style="text-align: center">
                                                            <a class="btn" th:href="@{/admin/trademark/update/__${trademark.id}__}">
                                                                <i class="glyphicon glyphicon-edit"></i> Sửa
                                                            </a>
                                                            <a onclick="return confirm('Thông tin bạn vừa chọn sẽ bị xóa bỏ')" th:href="@{/admin/trademark/delete/__${trademark.id}__}">
                                                                <i class="glyphicon glyphicon-trash"></i> Xóa
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </th:block>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div style="float: right; margin-right: 50px; font-size: 17px">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            <!--<li class="page-item">
                                                <a class="page-link" th:href="@{'/category'(page=${category.number - 1})}" th:if="${category.hasPrevious()}">Previous</a>
                                            </li>
                                            <li class="page-item">
                                                <span class="page-link" th:text="${category.number + 1}"></span><span class="page-link" th:text="${category.totalPages}"></span>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" th:href="@{'/category'(page=${category.number + 1})}" th:if="${category.hasNext()}">Next</a>
                                            </li>-->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="text-center">
                <strong>Copyright</strong> SHI-V Company &copy; 2018
            </div>
        </div>
    </div>
</div>
<th:block th:replace="master::admin-jslink"></th:block>
</body>
</html>